h1 {
    font-size: 28px; 
    font-weight: bold; 
    color: #df2d2d; 
    margin: 20px 0; 
  }
  tr{
    font-size: 20spx; 
    font-weight: bold; 
    color: #000000; 
    margin: 20px 0; 
  }
